body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.all-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.open {
  display: none;
}

input[type="checkbox"] {
  position: absolute;
  left: -30vw;
}

header {
  background-color: #99f;
  height: 50px;
  width: 100%;
  font-size: 1.5rem;
  line-height: 50px;
  position: fixed;
}

header a {
  color: white;
  text-decoration: none;
  text-align: left;
  margin-left: 50px;
}

.nav-main {
  display: flex;
  flex: 1;
  margin-top: 50px;
}

nav {
  background-color: #eee;
  width: 200px;
  height: 100%;
  font-size: 1.5rem;
  text-align: center;
  position: fixed;
}

nav ul {
  padding: 0;
  list-style: none;
  user-select: none;
}

.btn a:hover {
  background-color: #fff;
  transition: 0.3s;
}

.btn a {
  color: #333;
  text-decoration: none;
  padding: 6px 0px;
  margin-top: 3px;
  display: block;
}

main {
  border-left: 8px solid white;
  width: 100%;
  margin-left: 200px;
  background-color: #eee;
  font-size: 18px;
}

.container {
  background-color: #fff;
  width: 700px;
  margin: 50px auto;
  padding: 75px;
  text-align: left;
}

.container a {
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  margin-top: 50px;
}

h2 {
  border-bottom: solid 1px black;
}

.containerTwitter {
  background-color: #eee;
  width: 150px;
  text-align: center;
}

.containerTwitter a {
  display: block;
  width: 150px;
  color: #333;
}

.containerTwitter a:hover {
  text-decoration: none;
}

.containerTwitter img:hover {
  transform: scale(1.05, 1.05);
}

.containerTwitter p {
  margin: 0;
}

@media (max-width: 1200px) {
  main {
    border-left: 0px solid white;
    background-color: #fff;
  }
  .container {
    width: calc(100% - 100px);
    margin: 0;
    padding: 50px;
  }
}

@media (max-width: 800px) {
  .nav-main {
    margin-top: 0;
  }

  header {
    display: none;
  }

  main {
    margin: 0;
  }

  .open {
    display: block;
    position: fixed;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .open span,
  .open span:before,
  .open span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    /* transition: 0.5s; */
    position: absolute;
  }

  .open span:before {
    bottom: 8px;
  }

  .open span:after {
    top: 8px;
  }

  nav {
    position: absolute;
    width: 70vw;
    left: -70vw;
    transition: all 0.15s;
  }

  input[type="checkbox"]:checked ~ nav {
    position: fixed;
    left: 0;
  }

  input[type="checkbox"]:checked ~ .back {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
